#header{
    background: #1b3039    ;
    width: 100%;
    z-index: 100;
}

#brand{
  margin-left: 5vw;
  margin-right: 10vw;
}

@media only screen and (max-width: 1006px) and (min-width: 992px)  {  
    .btn-contac{
        display: none;
            }
}


.btn-contac:hover{
    background: white;

}
#miFondo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    width: auto;
    height: auto;
}

#contItem li a{

    font-size: 2.5vh;
    font-weight: 600;
    position: relative;
    font-weight:bold;
    color:white;
    margin: 0px 5px;

}
#contItem li a:hover{
  color: #1b3039  !important;
  background: #708690; 
  border-radius: 10px;
}


.btn-whatsapp {
    display:block;
    width:4vw;
    height:4vh;
    color:#fff;
    position: fixed;
    right:60px;
    bottom:60px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}